[submodule "home-manager/jade/xmonad/xmonad-jsm"]
	path = home-manager/jade/xmonad/xmonad-jsm
	url = git@github.com:sajenim/xmonad-jsm.git
[submodule "home-manager/jade/xmobar/xmobar-jsm"]
	path = home-manager/jade/xmobar/xmobar-jsm
	url = git@github.com:sajenim/xmobar-jsm.git
