:root {
  --font-primary: Fisa Code;

  /* Gruvbox Material Dark Hard */
  --fg0: #d4be98;
  --bg0: #282828;
  --bg1: #32302f;

  --grey0: #7c6f64;
  --grey1: #928374;
  --grey2: #a89984;

  /* Midpoints between bg0 + bg1 */
  --bg0_33: #2b2b2a;
  --bg0_66: #2f2d2d;
}

.theme-dark {
  --text-normal: var(--fg0);

  --channels-default: var(--grey2);
  --interactive-normal: var(--grey0);
  --interactive-active: var(--grey0);
  --channel-icon: var(--grey0);
  --channeltextarea-background: var(--bg0_66);

  --scrollbar-auto-thumb: var(--grey0);
  --scrollbar-auto-track: var(--bg1);

  --header-primary: var(--grey0);
  --header-secondary: var(--grey2);

  --background-primary: var(--bg0);
  --background-secondary: var(--bg0_66);
  --background-secondary-alt: var(--bg0_33);
  --background-tertiary: var(--bg1);
  --background-message-hover: var(--bg0_33);
  --background-mentioned: var(--bg0_66);
  --bg-overlay-selected: var(--bg1);
}

